<div class="col-12 no-padding">
    <h1 mat-dialog-title class="secondaryFont orangeColor" ><img [src]="promotion.offerIcon" class="promotionIcon" />{{promotion.offerBenefitDesc}}</h1>
    <strong > {{promotion.offerValidFromDesc}}. {{promotion.offerApplyEachDesc}} </strong>
    <hr>
      <div id="col" class="col-12 no-padding wrap">
         <strong> <p>{{promotion.offerQualification}}</p> </strong> 
      </div>
      <!-- &nbsp; -->
     
      <div id="col" class="col-12 no-padding wrap ">
          <pre class="wrap" style="white-space: pre-line; ">{{promotion.offerLegalDisclaimer}}</pre>
          </div>
      
  <div class="col-12 float-right">
      <button mat-raised-button color="accent" class="pop-up-close-button-styles" (click)="close()">Close</button></div>

</div>