.pop-up-close-button-styles
{
 float: right;
 background: grey;
 color: white;
}

.greenColor {
    color: #5B8725!important;
}

.orangeColor {
    color: #CF4520!important;
}

.promotionIcon{
    height: 16px!important;
    width: 16px!important;
    margin-right: 10px!important;
}

hr {
    margin-top: 1rem !important ;
    margin-bottom: 1rem !important;
    border: 0 !important;
    border-top: 1px solid rgba(0,0,0,.1) !important;
}

.text-bold
{
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

#col
{
     padding-right: 15px; 
     padding-left: 0px; 
}
