<mat-card class="primaryFont">
    <div class="row">
        <div class="col-12 smallFont dispFlex">
            <div class="col-4 text-center">
                <button mat-button [disabled]="disableCheck" class="greenColor"> <i class="fa fa-suitcase orangeColor"></i> Action
                </button>
            </div>
            <div class="col-4 text-center">
                <button mat-button [disabled]="disableCheck" class="greenColor"><i class="fa fa-download orangeColor"></i>
                    Download</button>
            </div>
            <div class="col-4 text-center">
                <button mat-button [disabled]="disableCheck" class="greenColor"> <i class="fa fa-print orangeColor"></i> Print</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h5 class="secondaryFont">Current Order </h5>
        </div>
    </div>
    <hr>
    <div class="row smallFont">
        <div class="col-6">Total Cases</div>
        <div *ngIf="disableCheck" class="col-6 float-right"><span class="float-right">0</span></div>
        <div *ngIf="!disableCheck" class="col-6 float-right"><span class="float-right">{{orderList.orderDetails.updateCases}}</span></div>
    </div>
    <div class="row smallFont">
        <div class="col-6">Total Eaches</div>
        <div *ngIf="disableCheck" class="col-6 float-right"><span class="float-right">0</span></div>
        <div *ngIf="!disableCheck" class="col-6 float-right"><span class="float-right">{{orderList.orderDetails.updateEaches}}</span></div>
    </div>
    <div class="row smallFont">
        <div class="col-6">Order Total</div>

        <div class="col-6"><span class="float-right">${{totalPrice | number:'1.2-2'}}</span></div>
    </div>
    <hr>
    <div class="row smallFont">
        <div class="col-6">Delivery Date</div>
        <div class="col-6"><button [disabled]="disableCheck" mat-button class="greenColor float-right" (click)="openDialog(true)">{{orderList.deliveryDate|date:'MM/dd/yyyy'}}</button>
        </div>

    </div>
    <div class="row smallFont">
        <div class="col-6">PO#</div>


        <div *ngIf="orderList && !orderList.po" class="col-6"><button mat-button [disabled]="disableCheck" (click)="openDialog(false)" class="greenColor float-right"><strong>Add</strong></button></div>
        <div *ngIf="orderList && orderList.po" class="col-6"><button mat-button (click)="openDialog(false)" class="greenColor pointerCursor float-right"><strong>{{orderList.po}}</strong></button></div>
    </div>
    <div class="row">
        <button mat-raised-button class="center" [disabled]="disableCheck">Review Order</button>
    </div>
    <div class="row smallFont">
        <div class="col-6"><button mat-button [disabled]="disableCheck" class="float-right blackColor"><strong>Save Order</strong></button></div>


        <div class="col-6"><button mat-button [disabled]="disableCheck" class="float-left blackColor"><strong>Cancel Order</strong></button></div>

    </div>
    <hr>
    <div class="row">
        <div class="col-12 smallFont">

            <a class="blackColor">
                &nbsp; <strong>Quick Entry </strong>
            </a>
        </div>
    </div>

    <div class="row smallFont">
        <div class="row">
            <div class="col-6">

                <mat-form-field class="width80" appearance="outline">
                    <input [disabled]="disableCheck" matInput placeholder="Product#" (blur)="enteredProduct($event.target.value)" class="width-inherit" id="productId" type="text" />
                </mat-form-field>
            </div>
            <div class="col-6">

                <mat-form-field class="width80" appearance="outline">
                    <input [disabled]="disableCheck" matInput class="width-inherit" placeholder="Cust Prod#" type="text" /></mat-form-field>
            </div>
            <hr>
            <div *ngIf="quickEntryProduct && !quickEntryProduct.specialOrder && !quickEntryProduct.discontinued" class="col-12 dispFlex">
                <div class="col-12 text-center"><strong>{{quickEntryProduct.short}} &nbsp; (#{{quickEntryProduct.id}})</strong></div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="width50 float-right">
                        <input [disabled]="!quickEntryProduct.priceCases" matInput placeholder="CS" type="text" [(ngModel)]="quickEntryProduct.updateCases" />
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="width50">
                        <input [disabled]="!quickEntryProduct.priceEaches" matInput placeholder="EA" type="text" [(ngModel)]="quickEntryProduct.updateEaches" /></mat-form-field>
                </div>
                <div class="col-12">
                    <button mat-raised-button [disabled]="!(quickEntryProduct.updateEaches || quickEntryProduct.updateCases)" (click)="quickEntryUpdate()" class="center">Add</button>
                </div>
            </div>
            <div *ngIf="!productFound && !quickEntryProduct" class="col-12 text-left discontinued-color">
                &nbsp; Product could not be found. Try another product number
            </div>
            <div *ngIf="quickEntryProduct && quickEntryProduct.specialOrder" class="col-12 text-left discontinued-color">
                    &nbsp; This Product can not be ordered online
                </div>
                <div *ngIf="quickEntryProduct && quickEntryProduct.discontinued" class="col-12 text-left discontinued-color">
                        &nbsp; The Product is discontinued
                    </div>


        </div>
    </div>

    <hr>
    <div class="row">

        <div class="col-12"><strong>Product In Order({{currentOrderList.length}})</strong></div>
    </div>
    <div class="row maxHeight">
        <div class="col-12" *ngIf="currentOrderList.length == 0">You Currently Have No Products In Your Order</div>
        <div class="col-12" *ngIf="currentOrderList.length > 0">
            <div class="row minHeight" *ngFor="let data of currentOrderList">

                <div class="col-3"><strong *ngIf="data.updateCases">{{data.updateCases}} CS</strong></div>
                <div class="col-3"><strong *ngIf="data.updateEaches">{{data.updateEaches}} EA</strong></div>
                <div class="col-6"><strong>{{data.description}}</strong>
                    <p>#{{data.id}}</p>
                </div>
            </div>

        </div>
    </div>
</mat-card>